name: Build actions
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      free:
        description: 'Free Disk Space'
        required: false
        default: false
        type: boolean
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Free Disk Space (Ubuntu)
      if: ${{ inputs.free == true }}
      uses: jlumbroso/free-disk-space@v1.3.1

    - name: Install Dependencies
      run: |
        sudo apt update && sudo apt upgrade -y
        sudo apt install -y build-essential cmake git pkg-config \
        libjpeg-dev libpng-dev libtiff-dev \
        libavcodec-dev libavformat-dev libswscale-dev \
        libv4l-dev libxvidcore-dev libx264-dev \
        libgtk-3-dev libatlas-base-dev gfortran openexr python3-dev python3-numpy ffmpeg

    - name: Install CUDA Toolkit 12.5
      run: |
        wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64/cuda-ubuntu2204.pin
        sudo mv cuda-ubuntu2204.pin /etc/apt/preferences.d/cuda-repository-pin-600
        wget https://developer.download.nvidia.com/compute/cuda/12.5.0/local_installers/cuda-repo-ubuntu2204-12-5-local_12.5.0-555.42.02-1_amd64.deb
        sudo dpkg -i cuda-repo-ubuntu2204-12-5-local_12.5.0-555.42.02-1_amd64.deb
        sudo cp /var/cuda-repo-ubuntu2204-12-5-local/cuda-*-keyring.gpg /usr/share/keyrings/
        sudo apt-get update
        sudo apt-get -y install cuda-toolkit-12-5
    
    - name: Install cuDNN
      run: |
        wget https://developer.download.nvidia.com/compute/cudnn/9.15.0/local_installers/cudnn-local-repo-ubuntu2204-9.15.0_1.0-1_amd64.deb
        sudo dpkg -i cudnn-local-repo-ubuntu2204-9.15.0_1.0-1_amd64.deb
        sudo cp /var/cudnn-local-repo-ubuntu2204-9.15.0/cudnn-*-keyring.gpg /usr/share/keyrings/
        sudo apt-get update
        sudo apt-get -y install cudnn
    
    - name: Clone OpenCV repository
      run: |
        git clone https://github.com/opencv/opencv.git
        git clone https://github.com/opencv/opencv_contrib.git

    - name: Configure Build Environment
      run: |
        cd opencv && mkdir build && cd build
        cmake -D CMAKE_BUILD_TYPE=RELEASE \
              -D CMAKE_INSTALL_PREFIX=/usr/local \
              -D BUILD_SHARED_LIBS=OFF \
              -D WITH_CUDA=ON \
              -D WITH_CUDNN=ON \
              -D OPENCV_DNN_CUDA=ON \
              -D CUDA_ARCH_BIN="8.9" \
              -D ENABLE_FAST_MATH=ON \
              -D CUDA_FAST_MATH=ON \
              -D WITH_CUBLAS=ON \
              -D OPENCV_EXTRA_MODULES_PATH=../../opencv_contrib/modules \ # 贡献模块路径
              -D BUILD_EXAMPLES=OFF \
              -D BUILD_TESTS=OFF \
              -D BUILD_PERF_TESTS=OFF \
              -D BUILD_opencv_apps=OFF \
              -D BUILD_opencv_python2=OFF \
              -D BUILD_opencv_python3=ON \
              -D WITH_GTK=OFF \
              -D BUILD_JPEG=ON \
              -D BUILD_PNG=ON \
              -D WITH_FFMPEG=ON
      

    - name: Compile OpenCV
      run: |
        make -j$(nproc)
