name: Build actions
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      debug:
        description: 'Debug Github Actions'
        required: false
        default: false
        type: boolean
env:
  OPENCV_REPO_URL: https://github.com/kkstone/immortalwrt-ipq50xx
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@v1.3.1

    - name: Upgrade apt
      uses: |
        sudo apt update && sudo apt upgrade
    - name: Clone Opencv repository
      run: |
        git clone $OPENCV_REPO_URL
