name: Cache CUDA Develpoment Toolkit
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-job:
    name: Download and Cache File
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up cache key
      id: cache-key
      run: |
        # 创建基于文件内容的缓存键
        CACHE_KEY=${{ github.sha }}
        echo "cache_key=$CACHE_KEY" >> $GITHUB_OUTPUT
        
    - name: Cache file
      uses: actions/cache@v3
      id: file-cache
      with:
        path: cached-file.txt
        key: ${{ steps.cache-key.outputs.cache_key }}
        
    - name: Download file if not cached
      if: steps.file-cache.outputs.cache-hit != 'true'
      run: |
        wget -P ~/cuda --quiet https://developer.download.nvidia.com/compute/cuda/12.5.0/local_installers/cuda-repo-ubuntu2204-12-5-local_12.5.0-555.42.02-1_amd64.deb
        wget -P ~/cuda --quiet https://developer.download.nvidia.com/compute/cudnn/9.15.0/local_installers/cudnn-local-repo-ubuntu2204-9.15.0_1.0-1_amd64.deb
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: cached-file
        path: ~/cuda
        save-always: true

